params {

	query = "$PWD/input.fasta"
	dbDir = "$PWD/DB/"
	dbName = "blastDB"
	threads = 3
	out_dir = "out_dir"
	outFilename = "input.blastout"
	options = "-evalue 1e-3"
	outfmt = "'6'"	
	app = "blastn"
	chunkSize = 1
	genome = false
	help = false
}


timeline {
  enabled = false
  file = "$params.out_dir/timeline.html"
}

report {
  enabled = false
  file = "$params.out_dir/report.html"
}

manifest {
name = 'wanjauk/learning_nextflow'
author = 'Kennedy Mwangi'
homePage = 'www.bioinformaticsworkbook.org'
description = 'nextflow bash'
mainScript = 'main.nf'
version = '1.0.0'
}
